{% load static %}
<footer>
    <div class=" bg-white footer-top">
        <div class="container">
            <div class="row margin-four">
                <div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom"><a href="tel:6281211443956" class="black-text">+62 812 1144 3956</a></h6></div>
                <div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom"><a href="https://goo.gl/maps/8vtYQRjPQdmQBSbV8" class="black-text">Jakarta Pusat, Indonesia</a></h6></div>
                <div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:kuffamoslem@gmail.com" class="black-text">kuffamoslem@gmail.com</a></h6></div>
            </div>
        </div>
    </div>
    <div class="container footer-middle">
        <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
        <div class="row margin-four no-margin-bottom">
            <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
                <ul class="list-inline footer-link text-uppercase">
                    <li><a href="{% url 'store:about_us' %}">About</a></li>
                    <li><a href="{% url 'store:store' %}">Store</a></li>
                    <li><a href="{% url 'store:testimonials' %}">Testimonials</a></li>
                    <li><a href="{% url 'store:contact_us' %}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
                <a target="_blank" href="https://www.instagram.com/kuffa.id/"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100075821074526"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="mailto:kuffamoslem@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-gray footer-bottom">
        <div class="container">
            <div class="row margin-three">
                <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                    &copy; 2015 H-Code is proudly powered by ThemeZaa.
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright text-right letter-spacing-1 xs-text-center xs-margin-bottom-one">
                    &copy; 2021 Kuffa.
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
</footer>