{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}

{% load humanize %}

<!-- ... -->

{% block result_list %}

<div class="results">
    <table>

    <thead>
        <tr>
            <th><div class="text">Date Order</div></th>
            <th><div class="text"><a href="#">Transaction Order</a></div></th>
            <th><div class="text">Payment Method</div></th>
            <th><div class="text">Total Product</div></th>
            <th><div class="text">Total Sales</div></th>
        </tr>
    </thead>

    <tbody>
        {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ row.paymentOrder__datePayment|date:"M d, Y" }}</td>
            <td> <a href="/admin/store/order/{{ row.itemOrdered__id }}"> {{ row.itemOrdered__transactionOrder }}</a> </td>
            <td> 
                {% if row.paymentOrder__methodPayment == "credit_card" %}
                    Credit Card
                {% elif row.PaymentOrder__methodPayment == "qris"%}
                    QRIS
                {% else %}
                    Others
                {% endif %} 
            </td>
            <td> {{ row.total|intcomma }} </td>
            <td> Rp. {{ row.total_sales|default:0|intcomma }} </td>
        </tr>
        {% endfor %}
        <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Total </td>
            <td> </td>
            <td> </td>
            <td> {{ summary_total.total|intcomma }} </td>
            <td> Rp. {{ summary_total.total_sales|default:0|intcomma }} </td>
        </tr>
    </tbody>

  </table>
</div>

<!-- ... -->

{% endblock %}

{% block pagination %}{% endblock %}
