{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<!-- head section -->
<section class="content-top-margin page-title page-title-small border-bottom-light border-top-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text">Password Reset</h1>
                <!-- end page title -->
            </div>
            <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <!-- breadcrumb -->
                <ul>
                    <li><a href="{% url 'store:index' %}">Home</a></li>
                    <li>Users</li>
                    <li>Reset Password</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
{% endblock mainBanner %}

{% block mainContent %}
<!-- content section -->
<section class="bg-gray wow fadeIn border-top">
    <div class="container">
        <div class="row hidden" id="login-zero">
            <div class="col-md-10 col-sm-8 col-xs-11 text-center center-col">
                <p class="not-found-title black-text">Your Already Login!</p>
                <p class="text-med text-uppercase letter-spacing-2">The page you were looking<br> for could not be found.</p>
                <a class="highlight-button-dark btn btn-small no-margin-right" href="{% url 'store:store' %}">Continue Shopping</a>
            </div>
        </div>
        <div class="row" id="login">
            <div class="col-md-12 col-sm-8 center-col text-center pull-center">
                <div class="col-md-12 col-sm-8 col-xs-11 text-center center-col">
                    <p class="text-med text-uppercase letter-spacing-2">
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
                        You should receive them shortly.
                    </p>
                    <p class="text-med text-uppercase letter-spacing-2">
                        If you don't receive an email, please make sure you've entered the address you registered with,<br>
                        and check your spam folder.
                    </p>
                    <a class="highlight-button-dark btn btn-medium no-margin-right" href="{% url 'store:login' %}">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end content section -->
<script type="text/javascript">
    if (user != 'AnonymousUser'){
        document.getElementById('login').classList.add("hidden");
        document.getElementById('navbar-cart').classList.add("hidden");
        document.getElementById('login-zero').classList.remove("hidden");
    }
    if (user == 'AnonymousUser'){
        document.getElementById('navbar-cart').classList.add("hidden");
    }
</script>
{% endblock mainContent %}