{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<section class="content-top-margin page-title page-title-small border-top-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text">Contact Us</h1>
                <!-- end page title -->
            </div>
            <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <!-- breadcrumb -->
                <ul>
                    <li><a href="{% url 'store:index' %}">Home</a></li>
                    <li>Contact Us</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
{% include 'snippets/messages.html' %}
{% endblock mainBanner %}

{% block mainContent %}
<section class="wow fadeIn no-padding">
    <div class="container-fuild">
        <div class="row no-margin">
            <div id="canvas1" class="col-md-12 col-sm-12 no-padding contact-map map">
                <iframe id="map_canvas1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.572727228359!2d106.8123231153697!3d-6.187888362351528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f791e1f9d0cd%3A0x6b7462d5996590db!2sKuffa%20-%20Excellent%20Sunnah%20Outfit!5e0!3m2!1sen!2sid!4v1655141236943!5m2!1sen!2sid"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn cover-background" style="background-image:url('{% static 'img/index/logo-text-1920x1100.jpg' %}');">
    <div class="opacity-medium bg-dark-gray"></div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-5 col-sm-6 center-col text-center">
                <p class="title-large text-uppercase letter-spacing-1 white-text font-weight-600">Let's work together to improve our quality.</p>
                <a class="btn-small-white btn btn-medium inner-link" href="#contact-form">Free to contact us</a>
            </div>
        </div>
    </div>
</section>
<section id="contact-form" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <p class="text-med text-uppercase letter-spacing-1 black-text font-weight-600">Contact Form</p>
                <p class="text-med">We appreciate the feedback our valued customers provide. You can contact us easily by filling out the form on the right and we will get back to you promptly.</p>
                <p class="text-med">Due to the high call volumes we are currently experiencing please allow longer than usual wait times.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-2">
                <form method="post">
                    {% csrf_token %}
                    {{form.nameContact}}
                    {{form.emailContact}}
                    {{form.messageContact}}
                    <button id="contact-us-button" type="submit" class="highlight-button-dark btn btn-small button xs-margin-bottom-five">Send message</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock mainContent %}
    